<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.pablo.moneyplusplusandroid" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PantallaPrincipal"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IngresaIngreso"
            android:label="@string/title_activity_ingresa_ingreso"
            android:parentActivityName=".PantallaPrincipal"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.pablo.moneyplusplusandroid.PantallaPrincipal" />
        </activity>
        <activity
            android:name=".ResumenDia"
            android:label="@string/title_activity_resumen_dia"
            android:parentActivityName=".PantallaPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.pablo.moneyplusplusandroid.PantallaPrincipal" />
        </activity>
    </application>

</manifest>
